@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mea+Culpa&family=Poppins:wght@100&family=Sarabun:wght@700&family=Space+Grotesk:wght@600&family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mea+Culpa&family=Open+Sans:wght@800&family=Poppins:wght@100&family=Sarabun:wght@700&family=Space+Grotesk:wght@600&family=Tektur&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  color: white;
  background-color: blueviolet;
}

h4,
h5,
h6,
p,
li {
  font-family: "Sarabun";
}

h1,
h2,
h3 {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #dbcdff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #dbcdff,
    #ba9aff,
    #9e63ff,
    #8400ff
  );
  border-radius: 20px;
}

.marginStyle {
  margin-top: 120px;
  margin-bottom: 150px;
}

.cartStyle {
  background-image: linear-gradient(
    to top,
    #9d68ce,
    #9958da,
    #9446e7,
    #8d2ff3,
    #8400ff
  );
}

@media (max-width: 485px) {
  .sizePrice {
    font-size: 12px;
  }
}

@media (min-width: 486px) {
  .sizePrice {
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  .respName {
    font-size: 20px;
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .respName {
    font-size: 15px;
  }
  .respBrand {
    font-size: 13px;
  }
}

@media (max-width: 991px) and (min-width: 480px) {
  .filterRes {
    text-align: center;
  }
}



.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}


.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}


.report-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}
.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}
.report-topic-heading,
.item1 {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-op {
  font-size: 18px;
  letter-spacing: 0px;
}

.items {
  width: 1120px;
  margin-top: 15px;
}

.item1 {
  margin-top: 20px;
}